@import url(styles.css);
* {
    box-sizing: border-box;
}
.description {
  margin-top: 3%;
  width: 90%;
  margin-left: auto;
  margin-right: auto;

  font-family: 'Fredoka', sans-serif;
}
.body {
  font-size: 150%;
  min-width: 100%;
  text-align: left;
  min-height: 900px;
}
#title {
  margin-top: 0;
  position: sticky;
  top: 0;
  text-align: center;
  text-transform: uppercase;
  background: linear-gradient(white, lightsteelblue);
  width: 100%;
  display:inline-block;
}

body {
  background-color: white;
  /* background: linear-gradient(white, #fdf); */
}

.body img {
  margin-top: 1%;
  height: 100%;
}
.contact {
  border: 10px steelblue solid;
}
.body > p {
  padding-left: 20px;
  font-size: 70%;
}
.loading {
  display: block;
}

#WA, #SA, #NA, #CA, #EA {
  color: darkslateblue;
}

#select {
  background-color: darkslateblue;
  width: 15%;
  height: fit-content;
  color:aqua;
  font-weight: 600;
  float: right;
  text-align: center;
  margin: 5px;
  padding: 1%;
  max-height: 50px;
}
/* The Country Data Inn Table */
.data {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  box-shadow: #a79ee0 1px 4px 5px,
   #a79ee0 -1px -1px 5px;
  color: darkslateblue;
  font-weight: 500;
  max-width: 8in;
}
th {
  font-weight: 700;
}

th, td {
  padding: 8px;
  border: lightsteelblue 2px solid;
}
tr:nth-child(even) {
  background: lightsteelblue
}
.nav-list {
  display: table-column;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding-right: 2%;
  list-style: none;
  color: white;
  float: right;
}
#accordion {
  max-width: 3in;
  border-right: grey 1px solid;
  height: fit-content;
  position:fixed;
  top: auto;
  z-index: 3;
  width: 30%;
  text-align: center;
}
#wait, #oops {
  display: none;
  position: fixed;
  font-weight: 700;
  font-size: larger;
  top: 20%;
  width: 70%;
  right: auto;
  left: 10%;
  background-color: cadetblue;
  border: white 2px solid;
  z-index: 10;
  color: #f2f2f2;
  text-align: center;
  padding: 4%;
  text-shadow: black 1px 2px;
}
.counter {
  padding: 3px;
}
#footer{
  margin-top: 0;
}
.topnav #home {
  margin-top: 10px;
}
.list {
  background-color: grey;
  overflow-y: scroll;
  height: 200%;
  height: 3in;
  align-self: center;
  display: block;
}
.list::-webkit-scrollbar {
  width: 1mm;
  color: black;
}
.left {
  text-align: left;
}
.country {
  color: white;
  background-color: rgb(52, 43, 107);
  list-style: none;
  width: 100%;
  padding-top: 8%;
  padding-bottom: 8%;
  border: 1px solid black;
  display: block;
}
.country:hover, #select:hover {
  opacity: 90%;
  cursor: pointer;
}
.country:active, .nav:active {
  opacity: 80%;
}

/************* THE RELOAD BUTTON ***********/
.reload {
  color:red;
}
.reload:hover {
  background-color: cornflowerblue;
  padding: 2px;
  border-radius: 4%;
  cursor:default;
}
.topnav{
  top: 0;
  min-height: 55px;
  background-color: rgb(26, 18, 75);
}

.topnav .nav {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 5px;
  padding: 10px 14px;
  text-decoration: none;
  font-size: 17px;
  position: sticky;
}
.topnav .nav:hover {
  background-color: lightsteelblue;
  font-weight: 600;
  color: black;
}

.loading {
  animation: spin 2s infinite linear;
  font-size: 30px;
  z-index: 0;
}
.links-and-contact {
  background-color: rgb(41, 38, 38);
  padding: 5px;
  display: flex;
  height: fit-content;
  justify-content: left;
}


@keyframes spin {
  to {
    transform: rotateZ(360deg);
  }
}
@media (max-width: 650px) {

  .topnav, .links-and-contact {
    display: flex;
    flex-wrap: wrap;
  }
  .topnav > .nav {
    display: none;
  }
  * {
    font-size: small;
  }
  #select {
    z-index: 5;
    float:right;
    position:absolute;
    right:30px;
    top: 0;
    font-size: 9px;
    padding: 7px;
    padding-left: 4px;
    padding-right: 4px;
    margin: 20px;
    width:fit-content;
  }
  #accordion {width: 80%;}
  #menu-icon{
    position: fixed;
    top: 10px;
  }
  #menu {
    text-align: left;
  }
}
@media (min-width: 575px) {
  p {
    max-width: 950px;
    margin-left: auto;
    margin-right: auto;
  }
}

.show {
  display: block;
}
