@import url(styles.css);
* {
    box-sizing: border-box;
    text-align: center;
}

.body {
  font-size: 150%;
  min-width: 100%;
  text-align: left;
}
body {
  background-color: lightsteelblue;
  display: grid;
  grid-template-rows: auto auto auto;
}
.body img {
  margin-top: 1%;
  height: 100%;
}
.contact {
  border: 10px steelblue solid;
}
.body > p {
  padding-left: 20px;
  font-size: 70%;
}
.loading {
  display: block;
}
#display {
  display: grid;
  position: absolute;
  background-color: blue;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 56px;
  width: 100%;
  height:fit-content;
  /* height: 100%; */
}
#WA, #SA, #NA, #CA, #EA {
  color: darkslateblue;
}

#select {
  background-color: darkslateblue;
  width: 15%;
  height: fit-content;
  color:aqua;
  font-weight: bold;
  float: right;
  margin: 5px;
  padding: 10px;
  border-radius: 1%;
  box-shadow: grey 10px top;
}
.nav-list {
  display: table-column;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding-right: 2%;
  list-style: none;
  color: white;
  float: right;
}
#accordion {
  max-width: 3in;
  border-right: grey 1px solid;
  height: fit-content;
  position:fixed;
  /* margin-top: 4%; */
  z-index: 20;
  width: 3in;
  float: right;
}
.list {
  background-color: grey;
  overflow-y: scroll;
  height: 200%;
  height: 3in;
  align-self: center;
  display: block;
}
.list::-webkit-scrollbar {
  width: 1mm;
  color: black;
}
.left {
  text-align: left;
}
.country {
  color: white;
  background-color: rgb(52, 43, 107);
  list-style: none;
  width: 100%;
  padding-top: 8%;
  padding-bottom: 8%;
  border: 1px solid black;
  display: block;
}
.country:hover, #select:hover {
  opacity: 90%;
  cursor: pointer;
}
.country:active, .nav:active {
  opacity: 80%;
}
#title {
  margin-top: 60px;
  border-bottom: solid 2px gray;
}

.topnav .nav {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 5px;
  padding: 10px 14px;
  text-decoration: none;
  font-size: 17px;
}
.topnav .home {
  margin: 0px;
}

.loading {
  animation: spin 2s infinite linear;
  font-size: 30px;
  z-index: 0;
}


@keyframes spin {
  to {
    transform: rotateZ(360deg);
  }
}
@media (max-width: 650px) {
  .projects-grid {
    grid-template-columns: 100%;
  }
  .topnav {
    display: flex;
    flex-wrap: wrap;
  }
  * {
    font-size: small;
  }
  #select {
    z-index: 10;
  }

}

.show {
  display: block;
}
