@import url('styles.css');
body {
    background-color: rgb(255, 255, 255);
    margin: 0px;

}

.hello {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../img/couscous/couscous2.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 400px;
    color: #f8faf9;
    text-align: center;
    padding: 3px;
    padding-top: 3px;
    text-decoration: none;
    font-size: 17px;
}

h3 {
  text-align: center;
}

.nav {
  overflow: hidden;
  padding: 2px;
}

.nav a {
  float: left;
  color: rgb(12, 88, 12);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px
}

.nav > .home > img {
  max-height: 45px;
  padding: 0px;
}

.nav .home {
  padding: 3px;
  padding-top: 0;
}

.nav .b:hover {
  background-color: rgb(39, 180, 46);
  color: black;
  font-weight: bold;
  font-size: 16px;
}

.nav .active {
  background-color: #163114;
  color: #f8faf9;
}

.nav .active:hover {
  background-color: rgb(223, 235, 223);
  color: white;
}

/* BELOW, THE SEARCH BAR */
.search {
    float: right;
    padding: 0px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
  }
  .put {
    padding: 5.5px;
  }
  #searchSubmit {
    float: right;
    background-color: blue;
    padding: 5.5px;
    color: yellow;
  }
  #searchSubmit:hover {
    background-color: green;
  }
  /*END OF SEARCH BAR*/
.active {
  background-color: rgb(14, 66, 16);
  color: azure;
}
  
.welcome {
    font-size: larger;
    text-align: center;
    /* max-width: 99%; */
    color: black;
}

/* pictures and descriptions */
.tabs {
  max-width: 80em;
  text-align: center;
  margin: 5px;
}

#li-img {
  width: 100%;
  max-width: 75em;
  height: auto;
}

#ul {
  text-align: left;
}

p {
  font-family: sans-serif Verdana, Geneva, Tahoma;
  color: rgb(36, 14, 65);
}

/* For small screens */
@media only screen and (max-width: 400px) {
  .tabs {
    text-align: left;
    margin-left: 10px;
  }
  #li-img {
    max-width: 350px;
    height: auto;
    margin: 0;
  }
  ul {
    text-align: left;
  }
  h2 .h {
    text-align: center;
  }
}

/* Slideshow container */
.slideshow-container {
  max-width: 80%;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 90%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 600px) {
  .prev, .next,.text {font-size: 11px}

}

.mySlides > img {
  max-height: 600px;
  /* max-width: 90%; */
}

.links-and-contact {
  font: bold;
  width: 98%;
  text-decoration: blink;
}

.link-list{
width: fit-content;
height: fit-content;
padding: 4px;
margin-bottom: 20px;
}

/****************** BEGINNGING OF CONTACT **************/
form input,
textarea {
  padding: 5px;
  border-radius: 5px;
  width: 240px;
}

.links-and-contact {
  background-color: rgb(24, 19, 19);
  color: aliceblue;
  padding-top: 5px;
}
.contact {
    background-color: white;
    flex-wrap: wrap;
    width: fit-content;
    height: fit-content;
    border-radius: 4%;
    padding: 20px;
    position: absolute;
    right: 33%;
    bottom: 1em;
    display: none;
}
.send-message:checked + .contact {
  display: block;
}

form {
  width: 250px;
  margin: 0 auto;
}

form input[type="submit"] {
  width: 250px;
}
#submitbutton:hover {
    background-color: darkolivegreen;
}
submit-button-wrapper {
  margin: 20px o;
}

/************ END OF CONTACT *************/
