@import url('styles.css');
* {
  box-sizing: border-box;
  text-align: center;
}
body {
  background-color: aliceblue;
  margin: 0px;
}
.hello {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(../img/calabar-carnival.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  min-height: 470px;
  margin: 0;
  padding: 0;
  text-align: center;
  text-decoration: solid;
  color: rgb(4, 3, 51);
}

.topnav {
  overflow: hidden;
  padding: 2px;
}

.topnav a {
  float: left;
  color: rgb(0, 2, 0);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav .b:hover {
  background-color: rgb(177, 153, 184);
  color: black;
}

.topnav a.active {
  background-color: rgb(11, 107, 11);
  color: rgb(227, 236, 230);
}
.topnav .b:hover {
  background-color: rgb(156, 119, 165);
  color: black;
  font-weight: bold;
  font-size: 16px;
}
.topnav .active:hover {
  background-color: rgb(14, 66, 16);
  color: white;
}
.topnav > .home > img {
  max-height: 45px;
}
.topnav .home {
  padding: 3px 3px;
  padding-top: 0;
}

.hello {
  size: 5px;
}
/* BELOW, THE SEARCH BAR */
.search {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}
.put {
  padding: 5.5px;
}
#searchSubmit {
  float: right;
  background-color: blue;
  padding: 5.5px;
  color: yellow;
}
#searchSubmit:hover {
  background-color: green;
}
/* END OF SEARCH BAR */

.welcome {
  text-align: center;
  text-decoration: solid;
  padding: 10px;
  color: rgb(44, 44, 58);
}

h2 {
  text-align: left;
  color: rgb(12, 41, 13);
}

.li-img {
  max-width: 95%;
}

p {
  font-family: sans-serif Verdana, Geneva, Tahoma;
  color: rgb(36, 14, 65);
}

.link-list {
  width: fit-content;
  height: fit-content;
  padding: 4px;
  margin-bottom: 20px;
}

/****************** BEGINNGING OF CONTACT **************/
form input,
textarea {
  padding: 5px;
  border-radius: 5px;
  width: 240px;
}

.contact {
  background-color: white;
  flex-wrap: wrap;
  width: fit-content;
  height: fit-content;
  border-radius: 4%;
  padding: 20px;
  position: absolute;
  right: 33%;
  bottom: 1em;
  display: none;
}

form {
  width: 250px;
  margin: 0 auto;
}

form input[type="submit"] {
  width: 250px;
}
#submitbutton:hover {
  background-color: darkolivegreen;
}
submit-button-wrapper {
  margin: 20px o;
}

/************ END OF CONTACT *************/
