body {
  background: #333;
  font-family: 'Noto Sans', sans-serif;
  background-color: #f3f7f35b;
  color: rgb(14, 3, 3);
  margin: 25px;
}
.topheader {
  color: white;
  font: bold;
  background-color: darkblue;
  padding: 8px;
  width: fit-content;
  height: fit-content;
  font-size: 60px;
  border-radius: 2%;
}

.topnav { /*n*/
  background-color: #333;
  overflow: hidden;
  position: relative;
  width: 100%;
  max-height: 100%;
  z-index: 10;
  margin: auto;
}
.topnav > .nav {
  /* float: left; */
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  margin-bottom: 5px;
  margin: 3px;
  float: left;
}
.topnav > .home > img {
  max-height: 52px;
  padding: 3px;
  float: left;
}
.topnav > .home {
  padding: 0ch;
  margin-bottom: 0px;
  margin-right: 5px;
}

.topnav .nav:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: hsla(158, 95%, 34%, 0.535);
  color: white;
}

/* BELOW, THE SEARCH BAR */
.search {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}
.put {
  padding: 5.5px;
}
#searchSubmit {
  float: right;
  /* padding: 6px; */
  /* border: none;
  box-sizing: border-box;
  font-size: 17px; */
  background-color: blue;
  padding: 5.5px;
  color: yellow;
}
#searchSubmit:hover {
  background-color: green;
}
/* END OF SEARCH BAR */

.welcome {
  position: relative;
  text-align: center;
  color: darkblue;
}

.categories-grid {
  display: grid;
  grid-template-columns: 50% 50%;
}

@media (max-width: 650px) {
  .projects-grid {
    grid-template-columns: 100%;
  }
}

/************* IMAGES IN THE BODY ***************/

.container {
  display: flex;
  grid-gap: 4em;
  padding: 20px;
}

.project-image-wrapper {
  justify-self: center;
  position: relative;
  grid-gap: 4em;
  justify-content: center;
  margin: 45px auto;
  width: fit-content;
  height: fit-content;
  /* max-height: 450px; */

  font-size: 300px;
  float: left;
  width: 40%;
  padding-left: 50px;
}

.project-image {
  width: 100%;
  /* flex: 50%; */
  border-radius: 10%;
  transition: all ease-in-out .2s;
  flex-direction: column-reverse;
  padding: 5px;
  min-height: 350px;
}
.restaurants {
  max-height: 300px;
}

.reserves {
  max-height: 50px;
}

.project-image-wrapper:hover > .project-image {
  filter: brightness(.75);
  opacity: 1.0;
  width: 90%;
  height: 340px;
  box-shadow: hsla(158, 95%, 34%, 0.535);
}

.project-image-wrapper:hover > h1 {
  visibility: visible;
}

.hover-text {
  position: absolute;
  top: 30%;
  transform: translate(-50%, -50%);
  color: yellow;
  visibility: hidden;
  z-index: 2;
  transition: all ease-in-out .2s;
  padding-left: 82%;
  font-size: 20%;
}

/****************** END OF IMAGES FORMATTING ****************/

.links-and-contact {
  /* background-color: red; */
  font: bold;
  width: 100%;
}

.link-list{
/* background: blueviolet; */
width: fit-content;
height: fit-content;
/* color: yellow; */
padding: 4px;
margin-bottom: 20px;
}

/****************** BEGINNGING OF CONTACT **************/
form input,
textarea {
  padding: 5px;
  border-radius: 5px;
  width: 240px;
}

.contact {
    background-color: grey;
    flex-wrap: wrap;
    width: fit-content;
    height: fit-content;
    border-radius: 4%;
    padding: 20px;
    position: relative;
    right: 50px;
    /* margin-bottom: 50px; */
    margin-left: 1120px;
}

form {
  width: 250px;
  margin: 0 auto;
}

form input[type="submit"] {
  width: 250px;
}
#submitbutton:hover {
    background-color: darkolivegreen;
}
submit-button-wrapper {
  margin: 20px o;
}
body {
  box-sizing: border-box;
  background-color: none;
}
/************ END OF CONTACT *************/
footer {
  background-color: gray;
  text-align: center;
  margin-top: 20px;
}
