body {
  background: #333;
  font-family: 'Noto Sans', sans-serif;
  background-color: #f3f7f35b;
  color: rgb(14, 3, 3);
  overflow-x: hidden;
  background-size: cover;
  margin: 0;
}

.hello {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(../img/home-image.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  min-height: 450px;
  margin: 0;
  padding: 0;
  color: rgb(4, 3, 51);
}
.welcome {
  font-size: 200%;
  text-align: center;
  color: white;
}

.nav {
  overflow: hidden;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.nav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 14px;
  text-decoration: none;
  font-size: 17px;
}
.nav .b {
  padding: 14px 16px;
}
#home {
  font-size: 25px;
  font-weight: 900;
  float: left;
  color: rgb(255, 60, 0);
  text-shadow: yellow -1px -1px 2px, yellow -2px -2px 3px,
    lightblue -3px -3px 1px, lightblue -4px -4px 1px, lightblue -5px -5px 1px,
    lightblue -6px -6px 1px, rgb(12, 2, 65) -7px -7px 4px;
  transform: scale(.5, 1.5);
  text-decoration: none;
}
.nav .b:hover {
  background-color: rgb(156, 119, 165);
  color: black;
  font-weight: bold;
  font-size: 16px;
}
/*******************NAVIGATION MENU***************/
#menu-icon {
  width: 40px;
  height: 40px;
  position: fixed;
  right: 4px;
  margin-top: 5px;
  z-index: 10;
  display: none;
}
#closer-icon {
  width: fit-content;
  height: fit-content;
  position: fixed;
  color: red;
  font-weight: 700;
  font-size: 50px;
  right: 10px;
  top: 9px;
  z-index: 10;
  display: none;
  cursor: default;
}

/************** BELOW, THE SEARCH BAR *************/
.search {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}
.put {
  padding: 5.5px;
}
#searchSubmit {
  float: right;
  background-color: blue;
  padding: 5.5px;
  color: white;
}
#searchSubmit:hover {
  background-color: green;
}

/*************** MENU FOR SMALL MEDIA QUERY *****************/

#menu {
  width: 100%;
  height: fit-content;
  padding: 5%;
  padding-top: 1%;
  background-color: white;
  position: fixed;
  top: 65px;
  z-index: 10;
  display: none;
}
#menu > .b {
  display: block;
  font-weight: bold;
  font-size: 22px;
  text-decoration: none;
  margin: 3px;
  padding: 4px;
  text-align: left;
}
.widget-header {
  width: fit-content;
  padding: 2px;
  font-size: larger;
  font-weight: 700;
  text-decoration: underline;
  text-decoration-style: double;
}
.slide-icon {
  width: 30px;
  height: 30px;
}

/************* NAVIGATION IMAGES (Home page) ***************/

.project-image-wrapper {
  justify-self: center;
  position: relative;
  justify-content: center;
  margin: auto;
  width: fit-content;
  height: fit-content;
  width: 40%;
}
.container {
  display: flex;
  flex-wrap: wrap;
}

.project-image {
  width: 100%;
  object-fit: fill;
  border-radius: 10%;
  transition: all ease-in-out .2s;
  padding: 5px;
}

.project-image-wrapper:hover > .project-image {
  box-shadow: hsla(158, 55%, 60%, 0.535);
  margin: 2px;
}

.project-image:hover,
.project-image:hover + h1 {
  filter: brightness(.95);
  opacity: 1.0;
  -ms-transform: scale(0.5);
  -webkit-transform: scale(0.5);
  transform: scale(1.05);
}

.project-image-wrapper:hover .hover-text {
  visibility: visible;
}

.hover-text {
  position: absolute;
  top: 30%;
  transform: translate(-50%, -50%);
  color: yellow;
  visibility: hidden;
  z-index: 3;
  transition: all ease-in-out .2s;
  margin-left: 52%;
  width: fit-content;
  text-shadow: 1.4px 2px 3px #000, 0.9px 0.9px 10px black;
  font-size: 50px;
  text-align: center;
}

/****************** END OF IMAGES FORMATTING ****************/

.select {
  font-size: larger;
  text-align: center;
  background-color: rgb(250, 255, 253);
  color: rgb(53, 53, 102);
  margin: 0;
}

#about {
  background-color: azure;
  text-align: center;
  margin-bottom: 1%;
  color: rgb(67, 12, 129);
  font-family: 'Fredoka', sans-serif;
  font-weight: bold;
  font-size: 110%;
}

/****************** BEGINNGING OF CONTACT **************/
form input,
textarea {
  padding: 5px;
  border-radius: 5px;
  width: 240px;
}

.links-and-contact {
  background-color: rgb(41, 38, 38);
  padding: 5px;
  display: flex;
  flex-wrap: nowrap;
  height: fit-content;
  justify-content: left;
}
.navtopic {
  margin-top: 2px;
  text-align: center;
  color: antiquewhite;
}
/* The Boxes In The Links */
.navigate,
.connect {
  width: 1.5in;
  box-shadow: 0px 1px 5px yellow;
  height: fit-content;
  margin: 4px;
  padding: 3px;
  background-color: rgb(29, 25, 25);
}
/* Each Link Item Below */
.two {
  display: block;
  text-align: center;
  color: yellowgreen;
  font-family: 'Fredoka', sans-serif;
  margin-bottom: 2px;
  font-weight: 500;
  font-stretch: extra-expanded;
  text-decoration: none;
}
.connect .two {
  font-size: small;
}
.links {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 3px;
}

.links > * {
  width: 55%;
  height: auto;
  margin: 3px;
  /* background-color: #000; */
}
.connect {
  width: fit-content;
}

.contact {
  background-color: rgb(68, 71, 78);
  z-index: 5;
  width: calc(1px + fit-content);
  height: calc(1px + fit-content);
  border-radius: 4%;
  padding: 2%;
  position: fixed;
  left: 23%;
  bottom: 10%;
  display: none;
  align-self: center;
  border: 10px grey solid;
}

#email,
#message {
  margin-top: 0;
}
#propose,
#fork {
  background-color: rgb(94, 8, 134);
  border-radius: 5%;
  color: white;
  cursor: pointer;
  padding: 0.5%;
}
#fork:hover,
#propose:hover {
  background: linear-gradient(purple, white);
}
#propose {
  position: sticky;
  right: 100%;
}
#fork {
  position: sticky;
  left: 100%;
  text-decoration: none;
  padding-left: 1.5%;
  padding-right: 1.5%;
}
#close {
  background-color: darkred;
  border-radius: 0;
  width: fit-content;
  margin: 2px;
  padding: 0 2%;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  float: right;
}

form {
  width: 250px;
  margin: 0 auto;
}

form input[type="submit"] {
  width: 250px;
  background-color: rgb(15, 58, 15);
  color: white;
  font-weight: bold;
  cursor: pointer;
}
#submitbutton {
  text-align: center;
  background-color: darkgreen;
  font-weight: bold;
  padding: 1%;
  cursor: pointer;
}
#submitbutton:hover {
  background-color: darkolivegreen;
}
.submit-button-wrapper {
  margin: 20px o;
}
/* Profiles Below */
#engineers {
  display: grid;
  grid-template-columns: 1fr 1fr;
  cursor: pointer;
}
.eng {
  width: 35px;
  height: 35px;
  border-radius: 100%;
  padding: 3%;
}
/********** ENGINEERS PROFILE DISPLAY *************/
#obed,
#faith {
  display: grid;
  text-align: center;
  font-size: smaller;
  color: lightblue;
}
.profile {
  max-width: 2.5in;
  display: grid;
  grid-template-rows: 50% 10% auto 6%;
  background-color: white;
  height: 100%;
  max-height: 4in;
  position: fixed;
  top: 15%;
  right: 30%;
  padding: 2%;
  box-shadow: lightseagreen 0.1px 0.1px 10px;
  color: white;
}
.text {
  width: fit-content;
  place-self: center;
  font-weight: 600;
  text-decoration: underline;
  color: darkblue;
  margin: 0;
  text-transform: uppercase;
}
.coffee {
  border-radius: 11px;
  padding: 3px 10px;
  background-color: blue;
  place-self: center;
  margin-top: 0px;
  margin-bottom: 9%;
  cursor: pointer;
  text-decoration: none;
  color: white;
}
.coffee:hover {
  background-color: green;
}
.dp {
  width: 85%;
  height: 100%;
  border-radius: 100%;
  margin-left: auto;
  margin-right: auto;
  cursor: not-allowed;
}
#obed,
#faith {
  display: grid;
  text-align: center;
  margin-left: 30%;
  justify-self: center;
}
.contacts {
  display: flex;
  flex-wrap: wrap;
  padding: 0%;
  width: 90%;
  height: 70%;
  margin-right: auto;
  margin-left: auto;
  place-content: center;
  justify-content:center;
}
.five {
  height: 30px;
  width: 40px;
  margin-right: 10px;
  margin-left: 6px;
  margin-bottom: 10px;
  cursor: pointer;
  margin-top: 4px;
  background-repeat: no-repeat;
  background-size: contain;
  justify-self: center;
}
.clos {
  position: absolute;
  top: 3px;
  font-size: 30px;
  right: 7px;
  font-stretch: extra-expanded;
  color: darkred;
  cursor: default;
}
#linkedin {
  background-image: url(/img/linkedin.png);
}
#twitter {
  background-image: url(/img/twitter.png);
}
#whatsapp {
  background-image: url(/img/whatsapp.png);
}
#github {
  background-image: url(/img/github.png);
}
#tel {
  background-image: url(/img/tel.jpg);
}
#mail {
  background-image: url(/img/mail.jpg);
}

/************ POP UP MESSAGE BEGINS **************/
#success {
  background-color: cornflowerblue;
  display: none;
  border: #333 solid 20px;
  width: fit-content;
  padding: 2%;
  border-radius: 1%;
  color: lightgreen;
  height: 1in;
  font-weight: bold;
  font-size: 50px;
  position: fixed;
  top: 10%;
  right: 25%;
  text-align: center;
  z-index: 20;
  box-sizing: content-box;
}

#user-messages::-webkit-scrollbar {
  width: 1mm;
  color: black;
}
.red {
  color: red;
}
/********** BACK TO TOP BUTTON *************/
.back-to-top-icon {
  width: 1rem;
  height: 1rem;
  color: white;
  display: block;
}
.back-to-top {
  position: fixed;
  right: 3rem;
  bottom: 2rem;
  border-radius: 100%;
  background: #895499;
  padding: 0.5rem;
  border: none;
  cursor: pointer;
  opacity: 80%;
  display: none;
  z-index: 5;
  transition: opacity 0.5s;
}
.back-to-top:hover {
  background: blue;
}
#footer {
  background-color: rgb(248, 238, 238);
  text-align: center;
  padding: 5px;
  color: black;
  bottom: 0;
  margin-top: 0;
  font-family: 'Fredoka', sans-serif;
}

/* For All Table Of Contents */
.preview,
#ul {
  text-align: left;
  margin-left: 3%;
  color: red;
  list-style: none;
  padding: 3px;
  text-decoration: none;
  font-weight: 600;
  text-transform: uppercase;
}

.li-img > img {
  width: 100%;
  max-width: 75em;
  height: auto;
  margin-bottom: 20px;
  right: auto;
}

/* For Larger Screens */
@media (min-width: 900px) {
  p,
  .description {
    max-width: 90%;
    margin-right: auto;
    margin-left: auto;
  }
  .profile {
    max-width: 2.5in;
  }
  .li-img,
  .li-img > img {
    right: auto;
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
  }
  #menu-icon,
  #closer-icon {
    display: none;
  }
}
/***************** SMALL MEDIA STYLES BEGIN *****************/
@media (max-width: 800px) and (min-width: 650px) {
  .search,
  .nav .b,
  .topnav .b,
  .topnav .nav {
    display: none;
  }
  #select {
    position: absolute;
    right: 50px;
    top: 3px;
    font-size: 12px;
    min-width: fit-content;
  }
  #menu-icon {
    display: block;
    top: 3px;
  }
  p {
    max-width: 90%;
    margin-right: auto;
    margin-left: auto;
  }
  .li-img,
  .li-img > img {
    margin-right: auto;
    margin-left: auto;
    height: auto;
    max-width: 90%;
  }
}
/* Small Size Media */
@media (max-width: 650px) {
  .project-image-wrapper {
    display: block;
    width: 98%;
  }
  .links-and-contact {
    flex-wrap: wrap;
  }
  .navigate,
  .connect {
    margin-right: auto;
    margin-left: auto;
    width: 90%;
  }
  .two {
    font-size: larger;
  }
  .navtopic {
    margin-bottom: 2px;
  }
  #menu-icon {
    display: block;
  }
  .search,
  .nav .b,
  .topnav .b,
  .topnav .nav {
    display: none;
  }

  a .hover-text {
    font-size: 35px;
    visibility: visible;
    top: 40%;
  }
  .container {
    display: flex;
    flex-wrap: wrap;
    max-width: 98%;
  }
  .description {
    font-weight: 600;
    font-size: 17px;
  }
  .hello,
  .hello-beach {
    max-height: 3.5in;
  }
  .nav .search {
    position: absolute;
    right: 5%;
  }
  body {
    font-size: small;
    max-width: 99%;
  }
  .profile {
    min-height: 86%;
    left: 2%;
    max-width: 100%;
    min-width: 95%;
  }
  .coffee,
  .text {
    font-size: 17px;
  }
  .contacts {
    max-width: 70%;
  }
  .five {
    margin-right: 14px;
    margin-left: 14px;
    margin-bottom: 15px;
  }
  #select {
    min-height: 25px;
  }

  .welcome {
    font-size: larger !important;
  }
  .project-image-wrapper > a {
    max-height: 20px;
  }
  .li-img > img {
    height: auto;
    max-width: 100%;
  }
}
