body {
    font-family: 'Noto Sans', sans-serif;
    background-color: #f3f7f3;
    color: rgb(14, 3, 3);
    margin: 25px;
}

.topnav {
    background-color: #333;
    overflow: hidden;
}
  

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
  
.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

.welcome {
    position: relative;
    text-align: center;
}

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}
  
div.gallery:hover {
    border: 1px solid #777;
}
  
div.gallery img {
    position: relative;
    width: 100%;
    height: auto;
}
  
div.desc {
    padding: 15px;
    text-align: center;
}