<!DOCTYPE html>
<html>
  <head lang="en">
    <title>Tazama Afrik</title>
    <link rel="stylesheet" href="/home/faith/tazama-afrik/beaches/static/styles/style.css">
    <link rel='shortcut icon' href="/home/faith/tazama-afrik/beaches/static/images/tazama_afrik.png">
    <div class="topnav">
      <a class="active" href="#home">Home</a>
      <a href="#about">about</a>
      <a href="#countries">Countries</a>
      <a href=#contact>Contact Us</a>
    </div>
  </head>
  <body>
    <div class="welcome">
      <h2>Hello Beach Lovers!</h2>
      <p>
        Are you a couple planning to spend some vacation time together?
      </p>
      <p>
        Are you going on a solo vacation?
      </p>
      <p>
        Planning a family vacation?
      </p>
      <p>
        You can choose to a visit any of the beautiful beaches around Africa and whatever your  choice is, we've got you covered
      </p>
    </div>
    <h3>Gallery</h3>
    <div class="gallery">
      <div class="desc">Family moment at the beach</div>
        <a target="_blank" href="../static/images/family_beach_image.jpg">
          <img src="../static/images/family_beach_image.jpg" alt="Cinque Terre" width="600" height="400">
        </a>

      <div class="desc">Toddler enjoying his beach time</div>
        <a target="_blank" href="../static/images/baby_beach_image.jpg">
          <img src="../static/images/baby_beach_image.jpg" alt="Beach time" width="600" height="400">
        </a>
    </div>
        
    <div class="gallery">
      <div class="desc">Children having a fun beach time</div>
        <a target="_blank" href="../static/images/teens_beach_image.jpg">
          <img src="../static/images/teens_beach_image.jpg" alt="Beach time" width="600" height="400">
        </a>

      <div class="desc">Lady enjoying the beach alone</div>
        <a target="_blank" href="../static/images/solo_beach_image.jpg">
          <img src="../static/images/solo_beach_image.jpg" alt="Beach time" width="600" height="400">
        </a>
    </div>

    <h3>Links</h3>
    <div>
      <ul>
        <li><a href="https://github.com/Tazama-Afrik">Github</a></li>
        <li><a href="https://twitter.com/tazama_afrik">Twitter</a></li>
        <li><a href="https://linkedin.com/in/tazama-afrik">Linkedin</a></li>
      </ul>
    </div>
  </body>
</html>
          