body {
    background: #333;
    font-family: 'Noto Sans', sans-serif;
    background-color: #f3f7f35b;
    color: rgb(14, 3, 3);
    margin: 25px;
}

.topnav {
    background-color: #333;
    overflow: hidden;
}
.topnav a:hover {
    background-color: #ddd;
    color: black;
  }
/* BELOW, THE SEARCH BAR */
.search {
    float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}
.put {
    padding: 5.5px;
}
#searchSubmit {
    float: right;
  /* padding: 6px; */
  /* border: none;
  box-sizing: border-box;
  font-size: 17px; */
    background-color: blue;
    padding: 5.5px;
    color: yellow;
}
#searchSubmit:hover {
    background-color: green;
}
/* END OF SEARCH BAR */

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
  
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
  
.topnav a.active {
    background-color: hsla(158, 95%, 34%, 0.535);
    color: white;
  }

.welcome {
    position: relative;
    text-align: center;
}

.container {
    margin: 0 auto;
}

.categories-grid {
    display: grid;
    grid-template-columns: 50% 50%;
}

@media (max-width: 650px) {
    .projects-grid {
        grid-template-columns: 100%;
    }
}

.sign_up {
    background-color: grey;
    margin-left: 500px;
    margin-right: 500px;
/* :hover {
    background-color: red;
} */
}
.project-image {
    width: 600px;
    display: grid;
    border-radius: 5%;
    box-shadow: 0 4px 6px 0 rgba(34, 60, 80, .16);
    transition: all ease-in-out .2s;
    flex-direction: row;
	align-content: flex-start;

    /* display: flexbox;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 15px; */

}

.project-image:hover, .project-image-wrapper:hover{
    filter: brightness(.75);
    box-shadow: 0 8px 12px 0 rgba(34, 60, 80, .16);
    opacity: 1.0;
}

.project-image-wrapper {
    justify-self: center;
    padding: 4%;
    position: relative;
    display: grid;
	justify-content: center;
	/*flex-wrap: wrap;*/
	margin: 45px auto;
	text-align: center;
    width: 300px;
    font-size: 40px;
}

.project-image-wrapper:hover > h1 {
    visibility: visible;
}

.project-image-wrapper > h1 {
    position: absolute;
    top: 30%;
    left: 25%;
    transform: translate(-50%, -50%);
    color: blueviolet;
    visibility: hidden;
    z-index: 2;
    transition: all ease-in-out .2s;
}

form input, textarea {
    padding: 5px;
    border-radius: 5px;
    width: 240px;
}
header {
    text-emphasis-style: bold;
    background-color: red;
}
/* a:focus {
    text-shadow: #aa7004;
    text-shadow: 5px;
} */

form {
    width: 250px;
    margin: 0 auto;
}

form input[type="submit"] {
    width: 250px;
}

submit-button-wrapper {
    margin: 20px o;
}
* {
    box-sizing: border-box;
  }
  