<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/styles/style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tazama Afrik | Countries</title>
</head>
<div class="topnav">
    <a href="#home">Home</a>
    <a href="#">About</a>
    <a  class="active" href="#">Countries</a>
    <a href=#>Contact us</a>

<!------     BEGINNING OF SEARCH BAR -------->
    <div class="search" placeholder="Type here to search">
        <input name="search bar" placeholder="Type here to search" rows="1" class="put"></input>
        <button type="submitbutton" id="searchSubmit">Search</button>
    </div> 
<!------     END OF SEARCH BAR ------->
</div>
<body>
        <!-- The sidebar begins-->
        <div id="top">REGIONS</div>
        <div class="regions-bar">
            
        <div class="region"> NORTHEN AFRICA</div>
        <input class="hide" type="checkbox"></input>
        <div class="countries">
            <p>North African countries list</p>
        </div>

        <div class="region"> SOUTHERN AFRICA</div>
        <input class="hide" type="checkbox"></input>
        <div class="countries">
            <p>South African countries list</p>
        </div>

        <div class="region-wrap">
        <div class="region"> WESTERN AFRICA</div>
        <input class="hide" type="checkbox"></input>
        <div class="countries">
            <p>West African countries list</p>
        </div>
        </div>

        <div class="region"> EASTERN AFRICA</div>
        <input class="hide" type="checkbox"></input>
        <div class="countries">
            <p>East African countries list</p>
        </div>

        <div class="region"> CENTRAL AFRICA</div>
        <input class="hide" type="checkbox"></input>
        <div class="countries">
            <p>Central African countries list</p>
        </div>

        </div> <!------end of sidebar-->
            
</body>







<!-- <script>
const bar = document.getElementsByClassName("regions-bar");
let i;

for (i = 0; i < bar.length; i++) {
  bar[i].addEventListener("click", function() {
    /* Toggle between adding and removing the "active" class,
    to highlight the button that controls the panel */
    this.classList.toggle("active");

    /* Toggle between hiding and showing the active panel */
    let countries = this.nextElementSibling;
    if (countries.style.display === "block") {
      countries.style.display = "none";
    } else {
      countries.style.display = "block";
    }
  });
}
</script> -->
</html>