<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/styles/style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tazama Afrik | Countries</title>
</head>
<body>
        <!-- The sidebar begins-->
        <div class="regions-bar">
            <div id="top">REGIONS</div>
        <button class="region"> NORTHEN AFRICA</button>
        <div class="countries">
            <p>Some Text...</p>
        </div>

        <button class="region"> SOUTHERN AFRICA</button>
        <div class="countries">
            <p>Some Text...</p>
        </div>

        <div class="region-wrap">
        <button class="region"> WESTERN AFRICA <input class="hide" type="checkbox"></input></button>
        <div class="countries">
            <p>Some Text...</p>
        </div>
        </div>

        <button class="region"> EASTERN AFRICA</button>
        <div class="countries">
            <p>Some Text...</p>
        </div>

        <button class="region"> CENTRAL AFRICA</button>
        <div class="countries">
            <p>Some Text...</p>
        </div>

        </div> <!------end of sidebar-->
            
</body>







<!-- <script>
const bar = document.getElementsByClassName("regions-bar");
let i;

for (i = 0; i < bar.length; i++) {
  bar[i].addEventListener("click", function() {
    /* Toggle between adding and removing the "active" class,
    to highlight the button that controls the panel */
    this.classList.toggle("active");

    /* Toggle between hiding and showing the active panel */
    let countries = this.nextElementSibling;
    if (countries.style.display === "block") {
      countries.style.display = "none";
    } else {
      countries.style.display = "block";
    }
  });
}
</script> -->
</html>